:root {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: 'Inter var', sans-serif;
    }
}

body {
    background-color: rgb(15, 23, 41)!important;
    max-width: 100%;
    overflow-x: hidden;
}

h1,
h4,
.card-text {
    color: rgb(196, 209, 236) !important;
}

ul {
    list-style-type: none;
}

.card-body {
    background-color: rgb(15, 23, 41);
}

.card-body:hover {
    background-color: rgb(17, 28, 54)
}

a:link,
.card-link {
    color: rgb(196, 209, 236);
}

.horinav a,
.intro {
    color: rgb(196, 209, 236);
}

#main>.row {
    min-height: 100vh;
}

.flex-fill {
    flex: 1 1 auto;
}

.leftside {
    height: 50%;
}

.rightside {
    color: rgb(196, 209, 236);
}

#nav {
    position: fixed;
    padding-left: 20vw;
}

#iconLink {
    text-decoration: none;
    color: rgb(196, 209, 236);
}

@media screen and (max-width:1199px) {
    #nav {
        position: relative;
        padding-left: 0vw;
    }

    .intro {
        padding-top: 15vw;
    }

    #about {
        text-align: center !important;
        width: 100% !important;
    }

    #skills {
        text-align: center !important;
        width: 100% !important;
    }

    #projects {
        text-align: center !important;
        width: 100% !important;
    }

    #experience {
        text-align: center !important;
        width: 100% !important;
    }

}