$primary: #392f4c;
$secondary: #cbcaff;

$h1-font-size: 7rem;
$h2-font-size: 3rem;
$h3-font-size: 2rem;
$font-family-base: "Assistant";

$enable-rounded: false;

@import "../node_modules/bootstrap/scss/bootstrap";